:root {
  --font-family: system-ui, Helvetica --width-container
}

body {
  box-sizing: border-box;
  font-family: var(--font-family);
  margin: 0;
}

header nav {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 60px;
  background-color: #141627;
  justify-content: space-between;
}

#svg__home {
  fill: #f45;
}

header #shortcutList {
  display: flex;
  flex-direction: row;
  gap: 90px;
  margin: 0;
  list-style: none;
}

header .anchor-decor {
  text-decoration: none;
  color: #fff;
}

header .dark-mode {
  background: none;
  border: none
}

#sun-color {
  fill: #fff;
}